﻿@model BookLibrary.Models.View.Authentication.LoginViewModel
@using System.Security.Claims;

@{
    var descriptor = ViewContext?.ActionDescriptor.AttributeRouteInfo;
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="pl-2 pr-2">
        <form asp-controller="account" asp-action="login" asp-antiforgery="true" asp-route-route="@Html">
            <div class="validation text-danger mt-3" asp-validation-summary="ModelOnly"></div>
            <div class="form-group m-0">
                <label class="m-0 mt-2 mb-1" style="font-size: 0.9em" asp-for="Login">Почта или никнейм:</label>
                <input class="form-control form-control-sm" type="text" asp-for="Login" />
                <span class="field-validation-error" asp-validation-for="Login"></span>
            </div>
            <div class="form-group mb-2">
                <label class="m-0 mt-2 mb-1" style="font-size: 0.9em" asp-for="Password">Пароль:</label>
                <input class="form-control  form-control-sm" asp-for="Password" />
                <span class="field-validation-error" asp-validation-for="Password" />
            </div>
            <div class="form-group m-0 mb-2">
                <input class="btn btn-sm btn-outline-success" type="submit" value="Войти" />
                <a class="btn btn-sm btn-outline-secondary" type="button" asp-controller="account" asp-action="register">
                    Регистрация
                </a>
            </div>
        </form>
    </div>
}
else
{
    <div class="col">
        <h6 class="row m-1 mt-3 mb-2 font-weight-bold">Привет, @User.Identity.Name!</h6>
        <a class="row btn-link-my m-1 mb-2" asp-controller="account" asp-action="sheild">Книжная полка</a>
        <a class="row btn-link-my m-1 mb-2" asp-controller="account" asp-action="accountpage" asp-route-user="@User.Identity.Name">Страница аккаунта</a>
        <a class="row btn-link-my m-1 mb-2" asp-controller="account" asp-action="settings" asp-route-user="@User.Identity.Name">Настройки аккаунта</a>

        <hr class="row m-1 ml-0 mb-1 mb-2" />
        @{
            var role = User.Claims.FirstOrDefault(x => x.Type == ClaimsIdentity.DefaultRoleClaimType).Value;
        }

        @if (role == "admin" || role == "librarian")
        {
            <a class="row btn-link-my m-1 mb-2" asp-controller="admin" asp-action="reservationpanel">Панель управления</a>
        }

        <a class="row btn-link-my m-1 mb-2" asp-controller="account" asp-action="logout">Выйти</a>
    </div>
}
