﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] — BookLibrary</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/fonts/fontawesome-pro-5.12.0/css/all.css" />
    <link rel="stylesheet" href="~/css/pagination.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/add-window.css" />
    <link rel="stylesheet" href="~/css/pure-rating.css" />
    <link rel="stylesheet" href="~/lib/jquery-confirm/css/jquery-confirm.css" />
    <link rel="stylesheet" href="~/lib/slick-master/slick/slick.css" />
    <link rel="stylesheet" href="~/lib/slick-master/slick/slick-theme.css" />
    <link rel="stylesheet" href="~/fonts/Montserrat-2/css/montserrat.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans">
</head>

<style>

    @@media screen and (min-width:256px) {
        .card {
            flex: 0 1 calc(100% - 1em);
            max-height: 50vh;
        }
    }

    @@media screen and (min-width:576px) {
        .card {
            flex: 0 1 calc(100% - 1em);
        }
    }

    @@media screen and (min-width:768px) {
        .card {
            flex: 0 1 calc(33.3% - 1em);
        }
    }

    @@media screen and (min-width:992px) {
        .card {
            flex: 0 1 calc(20% - 1em);
        }
    }

    @@media screen and (min-width:1200px) {
        .card {
            flex: 0 1 calc(20% - 1em);
        }
    }
</style>

<body class="flex-container" style="background-color: #eaeaea; font-family: 'Montserrat', 'Montserrat2', 'Open Sans';
    background-size: contain; background-image: linear-gradient(0deg, rgba(234, 234, 234, 0.8) 0%, rgba(234,234,234,1) 40%), url('/img/bg.jpg')">
    <header>
        <nav class="navbar navbar-expand-md navbar-light m-1 bg-primary-my">
            <div class="container">
                <a asp-area="" asp-controller="home" asp-action="index"
                   class="navbar-brand d-inline-block">

                    <div class="d-inline-flex">
                        <img src="~/img/book-clipart-icon.png" style="height: 3em;" />
                        <i class="site-logo text-nowrap align-self-center ml-3">BookLibrary</i>
                    </div>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item p-2">
                            <a class="btn-link-my" asp-controller="home" asp-action="index">Главная</a>
                        </li>
                        <li class="nav-item p-2">
                            <a class="btn-link-my" asp-controller="library" asp-action="list">Библиотека</a>
                        </li>
                        <li class="nav-item p-2">
                            <a class="btn-link-my" asp-controller="home" asp-action="location">Местонахождение</a>
                        </li>
                        <li class="nav-item p-2 ml-auto">
                            <span class="restrict-selection btn-link-my"
                                  onmousedown="showAccountWindow()"
                                  id="accountButton"
                                  style="cursor: pointer">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @Html.Raw("Аккаунт")
                                }
                                else
                                {
                                    @Html.Raw("Войти")
                                }
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="list-field position-absolute shadow"
         id="accountWindow" style="display: none;">
        @await Html.PartialAsync("_AccountWindowPartial", new BookLibrary.Models.View.Authentication.LoginViewModel())
    </div>

    <main class="pb-5" role="main">
        @RenderBody()
    </main>

    <footer class="position-absolute footer text-muted rounded-lg mb-2 d-flex" style="background-color: #eaeaea">
        <div class="container d-flex" style="font-size: 0.9em;">
            <div class="mt-1 mb-1 text-wrap">
                &copy; 2020 - Lev Gurkin "BookLibrary" - <a asp-area="" asp-controller="home" asp-action="privacy">права обладателя</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
    </script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/jquery-confirm/dist/jquery-confirm.min.js"></script>
    <script src="~/lib/slick-master/slick/slick.js"></script>

    @RenderSection("Scripts", required: false)

    <script>
        function showAccountWindow() {
            var x = document.getElementById("accountWindow");

            x.style.display = x.style.display === "none" ? "block" : "none";

            setAccountWindowPos()
        }

        function hideAccountWindow() {
            var x = document.getElementById("accountWindow");

            x.style.display = "none";

            setAccountWindowPos()
        }

        function setAccountWindowPos() {
            var x = document.getElementById("accountWindow");

            var btn = document.querySelector('#accountButton').getBoundingClientRect();
            var xPos = window.scrollX + btn.left
            var yPos = window.scrollY + btn.top + btn.height

            x.style.position = "absolute";
            x.style.left = xPos + btn.width - x.getBoundingClientRect().width + "px";
            x.style.top = yPos + yPos * 0.1 + "px";
        }

        window.onload = function () {
            var s = document.getElementById("accountWindow");

            window.onclick = function (e) {
                if (e.target.id === "accountButton") return;

                s.style.display = "none";
            }

            s.onclick = function (e) {
                e.stopPropagation()
            }
        }
    </script>
</body>
</html>
