<div style="font-family: 'Courier New', Courier, monospace;">
    <div style="background-color: white; width: 30em; height: 100%; margin-left: auto; margin-right: auto;">
        <div style="background-color: white; height: 4em; padding-top: 0.2em;">
            <img id="logo" src="../img/logo.png" />
        </div>
        <div style="background-color: white; padding-top: auto; text-align: center;">
            <h3 style="color: black; padding-top: 2%; font-size: x-large;">Подтвердите свою почту</h3>
            <p style="margin: 5%; font-size: large;">
                Подтвердите свою учетную запись, 
                чтобы завершить создание своей учетной записи BookLibrary.
            </p>

            <form id="action" action="https://google.com">
                <input type="submit" 
                       value="ПОДТВЕРДИТЬ ПОЧТУ" 
                       style="
                    font-family: 'Courier New', Courier, monospace;
                    border-radius: 25px;
                    border-style: solid;
                    border-width: 1px;
                    padding-top: 2%;
                    padding-bottom: 2%;
                    font-size: large;
                    background-color: indigo;
                    color: white;
                    width: 50%;"/>
            </form>
        </div>

        <div style="background-color: white; height: 3em; padding-top: auto;  text-align: center;">
            <h5 style="color: gray; padding-top: 2%;">
                Это сообщение было отправлено на <a id="email" style="color: dodgerblue;">thejustwatch@gmail.com.</a>
                Если у вас есть вопросы, пожалуйста свяжитесь с нами.</h5>
                <h5 style="color: gray;">BookLibrary.com</h5>
        </div>
    </div>
</div>