﻿<div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    <div style="background-color: white; width: 30em; height: 100%; margin-left: auto; margin-right: auto;">
        <div style="background-color: indigo; height: 4em; padding-top: auto;  text-align: center;">
            <p style="color: white; padding-top: 2%; font-size: x-large;">ВОССТАНОВЛЕНИЕ ПАРОЛЯ</p>
        </div>

        <div style="background-color: white; padding-top: auto; text-align: center;">
            <p style="margin: 5%; font-size: large;">
                Здравстуйте. Мы получили запрос на сброс вашего пароля.
                Подтвердите это действие, чтобы выбрать новый пароль.
                В противном случае вы можете оставить это письмо без вниманя.
            </p>

            <form action="https://google.com">
                <input type="submit"
                       value="ВОССТАНОВИТЬ ПАРОЛЬ"
                       style="border: indigo;
                border-radius: 5px;
                border-style: solid;
                border-width: 1px;
                padding-top: 2%;
                padding-bottom: 2%;
                font-size: large;
                width: 90%; " />
            </form>
        </div>

        <div style="background-color: indigo; height: 3em; padding-top: auto;  text-align: center;">
            <p style="color: white; padding-top: 2%;">BookLibrary inc.</p>
        </div>
    </div>
</div>