﻿@model BookLibrary.Models.View.ReviewBookViewModel

<div class="add-window-field" id="reviewField">
    <div class="add-window h-auto" id="reviewWindow" style="width: 60em; height:40em; background: #f6f6f6">
        <figure class="add-window-header flex-row">
            Напишите свой отзыв!
            <div class="flex-fill d-flex flex-row-reverse">
                <button class="add-window-button" onmousedown="reviewWindow.Close()">
                    <span class="fal fa-times"></span>
                </button>
            </div>
        </figure>

        <div class="p-2">
            <form asp-controller="account" asp-action="getfeedback"
                  asp-antiforgery="true" asp-route-reviewBookId="@ViewBag.ReviewBookId">

                <div class="validation" asp-validation-summary="ModelOnly"></div>

                <div class="container">
                    <div class="form-group mb-2 row">
                        <fieldset class="rating col-3 p-0 fas" style="font-size: 1.5em; left: -3%" id="pureRatingStars">
                            <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Отлично!"></label>
                            <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Здорово!"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Хорошо!"></label>
                            <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Пойдёт"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Так себе"></label>
                            <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="С натяжкой"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Плохо"></label>
                            <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Отстой"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Ужасно"></label>
                            <input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf" title="Кошмар"></label>
                        </fieldset>
                        <h6 class="col m-auto p-0" id="pureRatingLabel">Оценка не установлена</h6>
                        <input id="rateInput" type="hidden" asp-for="RateValue">
                    </div>

                    <span asp-validation-for="RateValue" class="field-validation-error"></span>
                </div>
               
                <div class="form-group mb-2 mt-2">
                    <textarea type="text" asp-for="Comment" class="form-control bg-white" rows="16"
                              placeholder="Расскажите о книге!" style="resize: none;"></textarea>
                    <span asp-validation-for="Comment" class="field-validation-error p-2"></span>
                </div>

                <div class="form-group mb-0">
                    <input type="submit" value="Оставить отзыв" class="btn btn-outline-success btn-sm btn-block" />
                </div>
            </form>
        </div>
    </div>
</div>