﻿@model BookLibrary.Models.View.BookPageViewModel
@using BookLibrary.Models.View

@{
    ViewBag.Title = Model.Book.Name;
    ViewBag.ReviewBookId = Model.Book.Id;
}

<link />

<main class="container min-vh-100">
    <div class="w-100 m-0 row">
        <figure class="m-3 shadow" style="width: 35ex">
            <img src="data:image/jpeg;base64, @Convert.ToBase64String(Model.Book.Image)"
                 alt="..." class="rounded-lg"
                 style="height: 50ex; width: 100%; object-fit: cover;" />
        </figure>
        <div class="col">
            <h1 class="pt-3 pb-3 pb-sm-0">@Model.Book.Name</h1>
            <h5 class="pt-2">
                <collection-enum set-type-name="false" book="Model.Book"
                                 list-type="@typeof(Author)" max-output="10">
                </collection-enum>
            </h5>
            <div class="justify-content-center align-content-center">
                <h6 class="mt-1 float-sm-left">
                    @Model.Book.ReleaseDate.Value.Year год · @Model.Book.Pages страниц(-ы) ·
                </h6>
                <h6 class="border-info border rounded-lg text-info pl-1 pr-1 ml-2 mt-1 d-inline-block">
                    @Model.Book.AgeRequirement+
                </h6>
            </div>
            <hr class="m-1 ml-0" />
            <div class="pt-3 pb-3" style="font-size: 1.1em;">
                <div class="float-left">
                    <rating-stars rating="@Model.Book.Rating"></rating-stars>
                </div>
                <h5 class="float-left">@Model.Book.Rating.ToString("0.0")</h5>

                @{
                    var count = Model.Book.Reviews.Count;

                    var cases = new[] { 2, 0, 1, 1, 1, 2 };
                    var titles = new[] { "читатель", "читателя", "читателей" };
                    var word = titles[count % 100 > 4 && count % 100 < 20 ? 2 : cases[(count % 10 < 5) ? count % 10 : 5]];
                }

                <span class="m-3" style="white-space: nowrap; font-size: 0.9em; color: gray">@count @word оценили</span>
            </div>
            <div class="pt-3">
                Жанры:
                <collection-enum set-type-name="false" book="Model.Book"
                                 list-type="@typeof(Genre)" max-output="10">
                </collection-enum>
            </div>
            <div class="">
                Издатель:
                <collection-enum set-type-name="false" book="Model.Book"
                                 list-type="@typeof(Publisher)" max-output="10">
                </collection-enum>
            </div>

            <div>
                @if (User.Identity.IsAuthenticated)
                {
                    var review = Model.Book.Reviews.FirstOrDefault(r => r.User.Name == User.Identity.Name);

                    if (review != null)
                    {
                        <a class="mt-3 btn btn-sm btn-outline-secondary" href="#review_@review.Id">Оставить отзыв</a>
                    }
                    else
                    {
                        <button class="mt-3 btn btn-sm btn-outline-secondary" onmousedown="reviewWindow.Open()">Оставить отзыв</button>
                    }
                }
                else
                {
                    <a class="mt-3 btn btn-sm btn-outline-secondary" asp-controller="account" asp-action="login">Оставить отзыв</a>
                }
                <button class="mt-3 btn btn-sm btn-outline-secondary">Читать отрывок</button>
            </div>
            <button class="mt-3 btn btn-sm btn-outline-secondary">Добавить в корзину</button>
        </div>
    </div>
    <div class="p-3">
        <h3>О книге</h3>
        <span style="white-space: pre-line">
            @Model.Book.Description
        </span>
    </div>
    <div class="p-3">
        <h3>Детальная информация</h3>
        <span style="white-space: pre-line">
            @Model.Book.DetailedInfo
        </span>
    </div>
    <div class="p-3 mb-3">
        <h3>Отзывы о книге</h3>
        <div class="mt-lg-4">
            @if (Model.Book.Reviews.Count < 1)
            {
                <div class="p-3 mb-2 rounded text-center" style="background-color: #f3f3f3" kk>
                    <h5 class="p-0 m-0 text-secondary">Отзывов нет</h5>
                </div>
            }

            @{
                var counter = 0;
                var lastReview = 0;
            }

            @foreach (var review in Model.Book.Reviews)
            {
                if (ViewBag.ReviewsQuantity <= counter) break;

                counter++;
                lastReview = review.Id;

                <div id="review_@review.Id" class="p-3 mb-2 rounded shadow-sm" style="background-color: #f3f3f3">
                    <div class="container row">
                        <avatar-img image="review.User.Avatar"
                                    class="rounded-lg shadow-sm"
                                    style="height: 3em; width: 3em; object-fit: cover;">
                        </avatar-img>

                        <div class="ml-3">
                            <h5 class="m-0">
                                <a asp-controller="account"
                                   asp-action="accountpage"
                                   asp-route-user="@review.User?.Name"
                                   class="text-decoration-none text-secondary">
                                    @review.User?.Name
                                </a>
                            </h5>

                            <span class="float-left mr-2">Оценка:</span>
                            <rating-stars rating="@review.Rate" />
                        </div>
                    </div>

                    <span style="white-space: pre-line">
                        @review.Comment
                    </span>
                    <br />
                    <div class="row">
                        <span class="text-secondary col">Опубликован: @review.PublicationDate.ToString("dd.MM.yyyy")</span>

                        @if (review.User.Name == User.Identity.Name || User.Claims.Any(x => x.Value == "admin"))
                        {
                            <form class="col d-flex flex-row-reverse" method="post" asp-controller="account"
                                  asp-action="removefeedback" asp-route-id="@review.Id" asp-route-bookId="@Model.Book.Id">
                                <button type="submit" onclick="return confirm('Вы действительно хотите удалить отзыв?')"
                                        title="Удалить" class="btn btn-outline-secondary btn-sm">
                                    <span class="fal fa-trash"></span>
                                </button>
                            </form>
                        }
                    </div>
                </div>
            }

            @if (Model.Book.Reviews.Count > ViewBag.ReviewsQuantity)
            {
                <div class="p-2 mb-2 rounded d-flex justify-content-center shadow-sm" style="background-color: #f3f3f3">
                    <a class="restrict-selection text-decoration-none" asp-route-bookId="@Model.Book.Id"
                       asp-route-reviewsQuantity="@(ViewBag.ReviewsQuantity + 4)" asp-fragment="review_@lastReview">
                        <p class="m-0 btn-link-my">Показать ещё</p>
                    </a>
                </div>
            }
        </div>
    </div>

    @await Html.PartialAsync("_ReviewWindowPartial", Model.Review, ViewData)
</main>

@section scripts {
    <script>

        /* Добавление функционала перетаскивания
        * окнам добавления объектов. */
        $(function () {

            var ws = [
                "#reviewWindow",
            ]

            for (var i = 0; i < ws.length; i++) {
                $(ws[i]).draggable({
                    handle: "figure",
                    scroll: false,
                    containment: "window"
                });
            }
        });

        /* Функция открытия окон: открытие, анимации */
        var openWindowFunction = function () {
            var field = this.element
            field.style.display = "flex";
            field.style.background = "rgba(0, 0, 0, 0.0)";

            var children = field.children[0];

            children.style.top = "auto";
            children.style.left = "auto";

            var anim = field.animate(
                [
                    { background: "rgba(0, 0, 0, 0)" },
                    { background: "rgba(0, 0, 0, 0.50)" }
                ],
                {
                    fill: "forwards",
                    easing: "steps(50, end)",
                    duration: 300
                });

            anim.play();
        };

        /* Функция закрытия окон */
        var closeWindowFunction = function () {
            this.element.style.display = "none";
        };

        /* Окно добавления автора */
        var reviewWindow = {
            element: document.getElementById("reviewField"),
            Open: openWindowFunction,
            Close: closeWindowFunction,
        };

        // Убрать инорирование валидации скрытых форм
        $.validator.setDefaults({ ignore: '' });

        $(document).ready(function () {
            // Check Radio-box
            $(".rating input:radio").attr("checked", false);

            $('.rating input').click(function () {
                $(".rating span").removeClass('checked');
                $(this).parent().addClass('checked');
            });

            $('input:radio').change(function () {
                var userRating = this.value;

                $('#pureRatingLabel').text("Оценка: " + userRating);

                $('#rateInput').val(userRating);
            });
        });
    </script>
}