﻿@using BookLibrary.Models
@using BookLibrary.Models.View.Interfaces
@model ListViewModel

@{
    ViewBag.Title = "Библиотека";
}

@{
    var routedata = new Dictionary<string, string>
{
        { "sortOrder", Model.SortViewModel.CurrentState.ToString() },
        { "groupOrder", Model.GroupViewModel.CurrentState.ToString() },
        { "searchString", Model.FilterViewModel.SearchString },
        { "itemsQuantity", Model.ItemsQuantity.ToString() },
    };
}

<main class="container p-0">
    <div class="content-block d-flex mb-2 shadow-sm">

        <span id="sortLabel" class="restrict-selection" style="color: gray; margin: 1%;">
            Сортировать:
            <span id="sortButton"
                  class="btn-link-my text-nowrap"
                  onmousedown="showSortList()"
                  style="cursor: pointer; text-transform: lowercase;">

                @Model.SortViewModel.GetSortStateName(Model.SortViewModel.CurrentState)
                <p class="fa fa-angle-down" style="margin: 0"></p>
            </span>
        </span>

        <span id="groupLabel" class="restrict-selection" style="color: gray; margin: 1%;">
            Группировать:
            <span id="groupButton"
                  class="btn-link-my text-nowrap"
                  onmousedown="showGroupList()"
                  style="cursor: pointer; text-transform: lowercase;">

                @Model.GroupViewModel.GetSortStateName(Model.GroupViewModel.CurrentState)
                <p class="fa fa-angle-down" style="margin: 0"></p>
            </span>
        </span>

        <form id="searchForm" class="ml-auto" asp-all-route-data="routedata">
            <div class="input-group p-2">
                <input class="form-control search-input" placeholder="Найти"
                       name="searchString" value="@Model.FilterViewModel.SearchString" />

                <button type="submit"
                        class="input-group-prepend btn btn search-btn ">
                    <i class="fal fa-search align-self-center"></i>
                </button>
            </div>
        </form>
    </div>

    <div class="list-field" id="sortList" style="display: none;">
        <ul class="list-group restrict-selection">
            <sort-list page-action="list" view-model="(IPagination)Model"></sort-list>
        </ul>
    </div>

    <div class="list-field" id="groupList" style="display: none;">
        <ul class="list-group restrict-selection">
            <group-list list-view-model="Model" page-action="list"></group-list>
        </ul>
    </div>

    <div class="container">
        <div class="border rounded-lg bg-white row shadow-sm">

            @if (Model.PageViewModel.TotalPages <= 0)
            {
                <span class="messeage-large">
                    Ничего не найдено
                </span>
            }

            @{
                var lastbook = 0;
            }

            @foreach (var book in Model.Books)
            {
                lastbook = book.Id;

                <div id="bookcard_@book.Id" class="card shadow m-2 float-left" style="min-height: 37ch">

                    <div class="border card-img-top content-block shadow-none img-hover-zoom h-75">
                        <button class="far fa-plus btn-add-book"></button>

                        <a class="book-title h-100 background-blur"
                           style="background-image: url('data:image/jpeg;base64, @Convert.ToBase64String(book.Image)');"
                           asp-controller="library" asp-action="bookpage" asp-route-bookid="@book.Id">
                            <img class="h-100 foreground-blur" src="data:image/jpeg;base64, @Convert.ToBase64String(book.Image)"
                                 alt="..." style="height: 37ex; width: 100%; object-fit: scale-down;" />
                        </a>
                    </div>

                    <div class="card-body" style="padding: 5%;">
                        <div style="height: 2em;">
                            <a class="book-title" asp-controller="library"
                               asp-action="bookpage" asp-route-bookid="@book.Id">@book.Name.ToUpper()</a>
                        </div>
                        <div style="height: 1.7em;">
                            <a class="book-title text-secondary">
                                <collection-enum set-type-name="true" book="book"
                                                 list-type="@typeof(Author)" max-output="4">
                                </collection-enum>
                            </a>
                        </div>

                        <div style="padding-top: 5%;">
                            <div style="font-size: 0.8em;">
                                <rating-stars rating="@book.Rating"></rating-stars>
                            </div>

                            <p class="mb-0" style="color: dimgray; font-size: 0.9em; position: center; margin-left: 0%;">
                                @book.Reviews.Count
                            </p>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>

    @if (Model.PageViewModel.TotalPages > 1)
    {
        <a id="showMoreBtn" class="content-block
           text-decoration-none
           restrict-selection d-flex
           justify-content-center
           align-content-center mt-2 p-1"
           onclick="keepLocation()"
           style="cursor: pointer"
           asp-all-route-data="routedata" asp-fragment="bookcard_@lastbook"
           asp-route-itemsQuantity="@(Model.ItemsQuantity + 15)">

            <p style="margin:auto; color: gray;">Показать ещё</p>
        </a>
    }

    <div class="content-block shadow-sm
             restrict-selection d-flex
             justify-content-center
             align-content-center mt-2 p-1">

        <page-link page-model="Model.PageViewModel"
                   view-model="Model"
                   page-action="list">
        </page-link>
    </div>
</main>

@section scripts{
    <script type="text/javascript">

        /* Sort list */
        function showSortList() {
            var x = document.getElementById("sortList");
            var g = document.getElementById("groupList");

            g.style.display = g.style.display === "block" ? "none" : g.style.display
            x.style.display = x.style.display === "none" ? "block" : "none";

            var groupLabelRect = document.querySelector('#sortLabel').getBoundingClientRect();
            var xPos = window.scrollX + groupLabelRect.left
            var yPos = window.scrollY + groupLabelRect.top + groupLabelRect.height

            x.style.position = "absolute";
            x.style.left = xPos + "px";
            x.style.top = yPos + yPos * 0.1 + "px";
        }

        /* Group List */
        function showGroupList() {
            var x = document.getElementById("groupList");
            var s = document.getElementById("sortList");

            s.style.display = s.style.display === "block" ? "none" : s.style.display
            x.style.display = x.style.display === "none" ? "block" : "none";

            var groupLabelRect = document.querySelector('#groupLabel').getBoundingClientRect();
            var xPos = window.scrollX + groupLabelRect.left
            var yPos = window.scrollY + groupLabelRect.top + groupLabelRect.height

            x.style.position = "absolute";
            x.style.left = xPos + "px";
            x.style.top = yPos + yPos * 0.1 + "px";
        }

        window.onload = function () {
            var s = document.getElementById("sortList");
            var g = document.getElementById("groupList");

            this.document.onmousedown = function (e) {
                if (e.target.id === "sortButton") return;
                if (e.target.id === "groupButton") return;

                if (e.target.id !== "sortList") {
                    s.style.display = "none";
                }

                if (e.target.id !== "groupList") {
                    g.style.display = "none";
                }
            }
        }
    </script>
}


