﻿<div class="container">

    <h5>Номера телфонов: +7(969) 343-57-57; +7(565) 776-34-56</h5>
    <h5>Электронная почта: booklib@yandex.ru</h5>

    <ul class="mt-4">
        <li>Библиотека №1. Адрес: Машиностроительная улица, 91Б Набережные Челны, Республика Татарстан, Россия</li>
        <li>Библиотека №2. Адрес: 1-й комплекс, 18 Набережные Челны, Республика Татарстан, Россия</li>
        <li>Библиотека №3. Адрес: Проспект Мира, 13А Набережные Челны, Республика Татарстан, Россия</li>
        <li>Библиотека №4. Адрес: Парк Прибрежный Набережные Челны, Республика Татарстан, Россия</li>
        <li>Библиотека №5. Адрес: Нижнекамское водохранилище Республика Татарстан, Россия</li>
    </ul>

    <h3>Местонажодение библиотек</h3>

    <iframe class="w-100 shadow mt-3 border rounded bg-white" style="height: 60ex;"
            src="https://yandex.ru/map-widget/v1/?um=constructor%3Afc883556406c08a072d1ed33e80ae51049642de7b22e26f29a4ac0203a9b64aa&amp;source=constructor"
            frameborder="0">
    </iframe>

</div>