﻿@{
    ViewData["Title"] = "Права обладателя";
}
<div class="container mb-3" style="height: 80vh">

    <h1>@ViewData["Title"]</h1>

    <iframe class="border rounded shadow w-100 h-100 bg-white" frameborder="0" src="~/other/LICENSE.txt"></iframe>
</div>
