﻿.add-window-field {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    display: none;
    align-items: baseline;
    justify-content: center;
}

.add-window {
    background-color: white;
    display: block;
    font-size: 0.85em;
    z-index: 9;
    height: auto;
    width: 30em;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0 0px 0px gray, 1px 1px 10px gray;
    margin-top: 5%;
    position: absolute;
}

.add-window-header {
    padding: 0.5%;
    padding-left: 2%;
    font-size: 0.9em;
    cursor: move;
    z-index: 10;
    background-color: #e9ecef;
    color: #495057;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
}

.add-window-button {
    background: none;
    border: none;
    margin-left: auto;
    margin-right: 1%;
    font-size: 1.2em;
}

.add-window-button:hover {
    color: #c16565;
}
