﻿.pagination-my {
    display: inline-block;
    font-weight: 500;
    color: dimgrey;
}

.pagination-my a {
    color: dimgrey;
    float: left;
    padding: 8px; 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .3s;
}

.pagination-my a.active {
    background-color: #FFBB4D;
    color: white;
    border-radius: 5px;
}

.pagination-my a:hover:not(.active) {
    background-color: #bababa;
    border-radius: 5px;
}
