﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html {
    scroll-behavior: smooth;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    white-space: nowrap;
}

/* "My" styles
-------------------------------------------------- */

.restrict-selection {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.bg-primary-my {
    color: #eaeaea:
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.btn-menu-main {
}

    .btn-menu-main a:hover {
        background-color: wheat;
        transition: background-color .3s;
    }

.btn-link-my {
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    color: #be5b04;
    cursor: pointer;
    transition: color 0.3s;
}

    .btn-link-my:hover {
        color: blueviolet;
        text-decoration: none;
        transition: color 0.3s;
    }

.content-block {
    background-color: white;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
}

.book-img {
    width: 100%;
    border-radius: 5px;
    float: inherit;
}

.book-title {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    font-size: 0.8em;
    line-height: 110%;
    font-weight: 500;
    color: lightgray;
    transition: color .3s;
}

    .book-title:visited {
        color: darkslategrey;
    }

    .book-title:hover {
        color: orange;
        text-decoration: none;
        transition: color .3s;
    }

.star {
    font-size: 1.3em;
    color: lightgray;
    margin-right: -2%;
}

    .star:last-child {
        margin-right: 0;
    }

    .star:before {
        font-family: 'Font Awesome 5 Pro';
        content: '\f005';
    }

    .star.on {
        color: gold;
    }

    .star.half:after {
        font-family: 'Font Awesome 5 Pro';
        content: '\f005';
        color: gold;
        position: absolute;
        margin-left: -1.1em;
        width: 0.54em;
        overflow: hidden;
    }

.search-input {
    border-radius: 4px;
    color: gray;
    height: 2em;
}

.search-btn {
    background-color: #ffbb4d;
    color: white;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 0 4%;
}

    .search-btn:hover {
        color: white;
        background-color: #fecd7e;
        transition: background-color .3s;
    }

.img-hover-zoom {
    height: 300px;
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform .5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.05);
}

.img-hover-zoom button {
    display: none;
}

.img-hover-zoom:hover button {
    display: block;
}

.list-field {
    background-color: white;
    display: none;
    font-size: 0.85em;
    z-index: 9;
    height: auto;
    width: 20em;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0 0px 0px gray, 0 0 5px gray;
}

.sort-list-button {
    color: dimgray;
    height: 3em;
    background-color: white;
    transition: background-color 0.3s;
    border: none;
}

    .sort-list-button:hover {
        background-color: #bebebe;
        transition: background-color 0.3s;
    }

.sort-list-button-current {
    color: white;
    background-color: #FFBB4D;
    border: none;
}

.messeage-large {
    color: gray;
    font-size: 2em;
    font-weight: 300;
    margin: auto;
}

.btn-add-book {
    margin: 2%;
    padding: 1% 2%;
    border-radius: 3px;
    border: none;
    position: absolute;
    z-index: 2;
    font-size: 1.2em;
    color: white;
    background-color: #ffbb4d;
    box-shadow: 0 0px 3px gray, 0 0 3px gray;
    background: rgb(186,139,62);
    background: linear-gradient(60deg, rgba(186,139,62,1) 6%, rgba(255,187,77,1) 49%, rgba(196,143,57,1) 94%);
}

    .btn-add-book:hover {
        background: linear-gradient(60deg, rgba(200,159,91,1) 6%, rgba(255,208,132,1) 49%, rgba(214,166,88,1) 94%);
    }

.site-logo {
    font-weight: 600;
    font-size: 1.2em;
    padding-right: 5px;
    background: linear-gradient(160deg, rgba(65,9,120,1) 0%, rgba(255,0,224,1) 50%, rgba(60,1,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Tooltip on hover */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Validation */

.field-validation-error {
    color: red;
    font-size: smaller;
}

.text-password {
    -webkit-text-security: disc;
}

.text-overflowed {
    max-width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.foreground-blur {
    position: fixed;
    z-index: 9999;
}

.background-blur {
    position: relative;
    backdrop-filter: blur(5px);
}

.background-blur::after {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    content: "";
    display: block;
    position: absolute;
    width: 101%;
    height: 101%;
}
