﻿@model BookLibrary.Models.View.Authentication.RestoreViewModel;

<form asp-controller="account" asp-action="restorepass">
    <input asp-for="@Model.Email" />
    <input type="submit" value="восстановить">
</form>