﻿@model User;

@{
    ViewBag.Title = Model.Name;
}

<div class="container">

    <div class="w-100 m-0 row">
        <figure class="m-3 p-0" style="width: 20ex; height: 20ex;">
            <div class="position-absolute d-flex m-1">
                <p class="rounded border pl-1 pr-1 text-white bg-danger" style="font-size: 0.8em;">@Model.Role.Name</p>
            </div>

            <avatar-img image="Model.Avatar"
                        class="rounded-lg shadow"
                        style="height: 20ex; width: 100%; object-fit: cover;">
            </avatar-img>
        </figure>
        <div class="col">
            <h2 class="pt-3 pb-3 pb-sm-0 float-left mr-3">@Model.Name</h2>

        </div>
    </div>
</div>
