﻿@model BookLibrary.Models.View.Authentication.LoginViewModel

<div class="container d-flex justify-content-center">

    <div class="rounded border bg-white shadow p-3" style="width: 30em">
        <h3 class="mb-3">Пожалуйста авторизуйтесь!</h3>

        <form asp-controller="account" asp-action="login" asp-antiforgery="true">
            <div class="validation text-danger mt-3" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label class="" asp-for="Login">Почта или никнейм:</label>
                <input class="form-control form-control-sm" type="text" asp-for="Login" />
                <span class="field-validation-error" asp-validation-for="Login"></span>
            </div>
            <div class="form-group">
                <label class="" asp-for="Password">Пароль:</label>
                <input class="form-control form-control-sm" asp-for="Password" />
                <span class="field-validation-error" asp-validation-for="Password" />
            </div>
            <div class="form-group m-0">
                <input class="btn btn-sm btn-outline-success" type="submit" value="Войти" />
                <a class="btn btn-sm btn-outline-dark" type="button"
                   asp-controller="account" asp-action="register">
                    Регистрация
                </a>
                <a class="btn btn-sm btn-outline-info" type="button"
                   asp-controller="" asp-action="">
                    Забыли пароль?
                </a>
            </div>
        </form>
    </div>
</div>