﻿@model BookLibrary.Models.View.Authentication.RestoreViewModel;

<div class="container content-block text-center p-1 shadow">
    <h2>Письмо восстановления отправлено на почту</h2>
    <h2 class="text-info">@Model.Email</h2>
</div>