﻿@model BookLibrary.Models.View.Authentication.RegisterViewModel

<form asp-controller="account" asp-action="register" asp-antiforgery="true">
    <div class="container w-25">
        <h2 class="mb-2">Регистрация</h2>

        <div>
            <label asp-for="Email" class="m-2">Электронная почта</label><br />
            <input type="text" asp-for="Email" class="form-control m-1" placeholder="Введите email" />
            <span asp-validation-for="Email" />
        </div>

        <div>
            <label asp-for="Name" class="m-2">Имя пользователя</label><br />
            <input type="text" asp-for="Name" class="form-control m-1" placeholder="Введите имя пользователя" />
            <span asp-validation-for="Name" />
        </div>

        <label asp-for="Password" class="m-2">Пароль</label><br />
        <div>
            <input asp-for="Password" class="form-control m-1" placeholder="Введите пароль" />
            <span asp-validation-for="Password" />
        </div>
        <div>
            <input asp-for="ConfirmPassword" class="form-control m-1" placeholder="Повторите пароль" />
            <span asp-validation-for="ConfirmPassword" />
        </div>

        <div class="validation text-danger mt-3" asp-validation-summary="ModelOnly"></div>

        <div>
            <input type="submit" value="Регистрация" class="btn btn-sm btn-outline-dark m-1" />
        </div>
    </div>
</form>