﻿@model BookLibrary.Models.View.UserSettingsViewModel;
@using BookLibrary.Models.View.Authentication;

@{
    ViewBag.Title = "Настройки";
}

<div class="container">
    <div class="card-columns">

        <div class="card shadow-sm rounded-lg border-0">
            <div class="d-flex justify-content-center">
                <figure class="m-3 p-0" style="width: 14ex; height: 14ex;">
                    <avatar-img image="Model.User.Avatar"
                                class="rounded-lg shadow"
                                style="height: 14ex; width: 100%; object-fit: cover;">
                    </avatar-img>
                </figure>
            </div>

            <div class="d-flex justify-content-center">
                <form class="container mt-0" method="post" enctype="multipart/form-data"
                      asp-antiforgery="true" asp-action="changeavatar" asp-route-username="@Model.User.Name">

                    <label class="btn btn-outline-secondary rounded-lg w-100 mt-2 mb-2">
                        Сменить аватарку
                        <input hidden onchange="form.submit()"
                               type="file" asp-for="Avatar"
                               accept="image/png, image/jpeg" />
                    </label>
                </form>
            </div>

            <div class="mt-2 text-center small mb-3 text-secondary">
                Изображение формата png или jpg
            </div>
        </div>

        <div class="card shadow-sm rounded-lg border-0">
            <h5 class="m-3 font-weight-bold">Ваше имя</h5>

            <form class="container mt-0" method="post" id="name-form"
                  asp-antiforgery="true" asp-action="changename" asp-route-username="@Model.User.Name">
                <input class="form-control" placeholder="Введите имя" asp-for="Name" />
                <span asp-validation-for="Name" class="field-validation-error"></span>

                <input onclick="nameConfirm()"
                       class="btn btn-outline-secondary rounded-lg w-100 mt-3 mb-3"
                       type="button" asp-for="Name" value="Сохранить" />

                <div class="validation text-danger mt-3" asp-validation-summary="ModelOnly"></div>
            </form>
        </div>

        <div class="card shadow-sm rounded-lg border-0">
            <h5 class="m-3 font-weight-bold">Подтвердить почту</h5>

            <form class="container mt-0" method="post"
                  asp-antiforgery="true" asp-action="submitemail" asp-route-username="@Model.User.Name">

                <p class="text-secondary">Подтверждение почты нужно, для возможности восстановления пароля через вашу электронную почту.</p>

                <input disabled value="@Model.Email" class="form-control form-control-sm rounded-lg">
                <input hidden asp-for="@Model.Email">
                <input hidden asp-for="@Model.Name">

                <input class="btn btn-outline-success rounded-lg w-100 mb-3 mt-3"
                       type="submit" value="Отправить письмо на почту" />
            </form>
        </div>

        <div class="bg-white shadow-sm rounded-lg border-0 pt-1">
            <h5 class="m-3 mt-0 font-weight-bold">Ваше описание</h5>

            <form class="container mt-0" method="post"
                  asp-antiforgery="true" asp-action="changedescription" asp-route-username="@Model.User.Name">

                <p class="text-secondary">Расскажите о себе.</p>

                <textarea asp-for="Description" type="text" rows="18" style="resize: none"
                          class="form-control form-control-sm rounded-lg"></textarea>

                <input class="btn btn-outline-secondary rounded-lg w-100 mb-3 mt-3"
                       type="submit" asp-for="Description" value="Сохранить" />
            </form>
        </div>

        <div class="card shadow-sm rounded-lg border-0">
            <h5 class="m-3 font-weight-bold">Изменить пароль</h5>

            <form class="container mt-0" method="post"
                  asp-antiforgery="true" asp-action="changepassword" asp-route-userId="@Model.User.Id">

                <input type="text" asp-for="OldPassword" class="form-control form-control rounded-lg text-password" placeholder="Старый пароль">
                <span asp-validation-for="OldPassword" class="field-validation-error"></span>

                <input type="text" asp-for="NewPassword" class="form-control form-control rounded-lg mt-3 text-password" placeholder="Новый пароль">
                <span asp-validation-for="NewPassword" class="field-validation-error"></span>

                <input class="btn btn-outline-secondary rounded-lg w-100 mb-3 mt-3"
                       type="submit" value="Изменить" />

                <div class="validation text-danger mt-3 mb-3" asp-validation-summary="ModelOnly"></div>
            </form>
        </div>

        <div class="card shadow-sm rounded-lg border-0 container">

            <a class="btn btn-sm btn-outline-dark w-100 mt-3"
               asp-controller="account" asp-action="accountpage" asp-route-user="@Model.User.Name">Страница аккаунта</a>

            <a class="btn btn-sm btn-outline-dark w-100 mt-3"
               asp-controller="account" asp-action="userreviews" asp-route-user="@Model.User.Name">Ваши отзывы</a>

            <a class="btn btn-sm btn-outline-dark w-100 mt-3"
               asp-controller="" asp-action="" asp-route-user="@Model.User.Name">Книжная полка</a>

            <a class="btn btn-sm btn-outline-danger w-100 mb-3 mt-3"
               asp-controller="account" asp-action="reviews" asp-route-user="@Model.User.Name">Удалить аккаунт</a>
        </div>

    </div>
</div>

@section scripts {
    <script>
        function nameConfirm() {
            $.confirm({
                title: 'Изменение имени',
                content: 'Вы действительно хотите изменить имя аккаунта?',
                buttons: {
                    somethingElse: {
                        text: 'Отмена'
                    },
                    confirm: {
                        text: 'Подтвердить',
                        btnClass: 'btn-blue',
                        action: function () {
                            $("#name-form").submit();
                        },
                    }
                }
            });
        }
    </script>
}
