﻿@model BookLibrary.Models.View.UserRviewsViewModel;
@using BookLibrary.Models.View.Interfaces

@{
    var counter = 0;
    var lastReview = 0;
}

<div class="container">

    <div class="text-secondary content-block d-flex mb-2 shadow-sm" style="background-color: #f3f3f3;">

        <h5 class="col align-self-center">
            Отзывы пользователя
            <a class="text-decoration-none"
               asp-controller="account"
               asp-action="accountpage"
               asp-route-user="@Model.User.Name">
                @Model.User.Name
            </a>
        </h5>

        <span id="sortLabel" class="restrict-selection" style="color: gray; margin: 1%;">
            Сортировать:
            <span id="sortButton"
                  class="btn-link-my"
                  onmousedown="showSortList()"
                  style="cursor: pointer; text-transform: lowercase;">


                @Model.SortViewModel.GetSortStateName(Model.SortViewModel.CurrentState)
                <p class="fa fa-angle-down" style="margin: 0"></p>
            </span>
        </span>
    </div>

    @if (Model.Reviews.Count < 1)
    {
        <div class="p-3 mb-2 rounded text-center" style="background-color: #f3f3f3" kk>
            <h5 class="p-0 m-0 text-secondary">Отзывов нет</h5>
        </div>
    }

    @foreach (var review in Model.Reviews)
    {
        if (Model.ItemsQuantity <= counter) break;

        counter++;
        lastReview = review.Id;

        <div id="review_@review.Id" class="p-3 mb-2 rounded shadow-sm" style="background-color: #f3f3f3">
            <div class="ml-1 row">
                <figure class="m-0" style="width: 10ex">
                    <img src="data:image/jpeg;base64, @Convert.ToBase64String(review.Book.Image)"
                         alt="..." class="rounded-sm"
                         style="box-shadow: 0 0px 5px #bbbbbb, 0 0 5px #bbbbbb;
                    height: 15ex; width: 100%; object-fit: cover;" />
                </figure>


                <div class="col">
                    <div class="m-0 row">
                        <h5>
                            Отзыв к книге:
                            <a class="text-decoration-none"
                               asp-controller="library"
                               asp-action="bookpage"
                               asp-route-bookId="@review.Book.Id">
                                "@review.Book.Name"
                            </a>
                        </h5>

                        @if (review.User.Name == User.Identity.Name || User.Claims.Any(x => x.Value == "admin"))
                        {
                            <form id="delete-form-@review.Id" class="d-flex flex-row-reverse p-0 ml-auto mr-0" method="post" asp-controller="account"
                                  asp-action="removefeedback" asp-route-id="@review.Id" asp-route-bookId="@review.Book">
                                <button type="button" onclick="deleteConfirm(@review.Id)"
                                        title="Удалить" class="btn btn-outline-secondary btn-sm">
                                    <span class="fal fa-trash"></span>
                                </button>
                            </form>
                        }

                    </div>
                    <h6 class="text-secondary mt-1 m-0">Пользователь: @review.User.Name</h6>
                    <h6 class="text-secondary mt-2">Опубликован: @review.PublicationDate.ToString("dd.MM.yyyy")</h6>
                    <div class="mt-2">
                        <span class="text-secondary float-left mr-2">Оценка:</span>
                        <rating-stars rating="@review.Rate" />
                    </div>
                </div>
            </div>

            <span style="white-space: pre-line">
                @review.Comment
            </span>
        </div>
    }

    @if (Model.Reviews.Count > Model.ItemsQuantity)
    {
        <div class="p-2 mb-2 rounded d-flex justify-content-center" style="background-color: #f3f3f3">
            <a class="restrict-selection text-decoration-none"
               asp-controller="account"
               asp-action="userreviews"
               asp-route-user="@Model.User.Name"
               asp-fragment="review_@lastReview"
               asp-route-reviewsQuantity="@(Model.ItemsQuantity + 4)">
                <p class="m-0 btn-link-my">Показать ещё</p>
            </a>
        </div>
    }

</div>

<div class="list-field" id="sortList" style="display: none;">
    <ul class="list-group restrict-selection">
        <sort-list page-action="userreviews"
                   view-model="(IPagination)Model"
                   route-data='new Dictionary<string, string> { { "user", Model.User.Name } }' >
        </sort-list>
    </ul>
</div>

@section scripts {
    <script>
        /* Sort list */
        function showSortList() {
            var x = document.getElementById("sortList");

            x.style.display = x.style.display === "none" ? "block" : "none";

            var groupLabelRect = document.querySelector('#sortLabel').getBoundingClientRect();
            var xPos = window.scrollX + groupLabelRect.left
            var yPos = window.scrollY + groupLabelRect.top + groupLabelRect.height

            x.style.position = "absolute";
            x.style.left = xPos + "px";
            x.style.top = yPos + yPos * 0.1 + "px";
        }

        window.onload = function () {
            var s = document.getElementById("sortList");
            var g = document.getElementById("groupList");

            this.document.onmousedown = function (e) {
                if (e.target.id === "sortButton") return;
                if (e.target.id === "groupButton") return;

                if (e.target.id !== "sortList") {
                    s.style.display = "none";
                }

                if (e.target.id !== "groupList") {
                    g.style.display = "none";
                }
            }
        }

        function deleteConfirm(id) {
            $.confirm({
                title: 'Удаление отзыва',
                content: 'Вы действительно хотите удалить отзыв?',
                buttons: {
                    somethingElse: {
                        text: 'Отмена'
                    },
                    confirm: {
                        text: 'Удалить',
                        btnClass: 'btn-red',
                        action: function () {
                            $("#delete-form-" + id).submit();
                        },
                    }
                }
            });
        }
    </script>
}