﻿@model BookLibrary.Models.Genre

<div class="add-window-field" id="addGenreField">
    <div class="add-window" id="addGenreWindow" style="background: #f6f6f6">
        <figure class="add-window-header"> Добавление жанра
            <div class="flex-fill d-flex flex-row-reverse">
                <button class="add-window-button" onmousedown="addGenreWindow.Close()">
                    <span class="fal fa-times"></span>
                </button>
            </div>
        </figure>

        <div class="p-2">
            <form asp-controller="admin" asp-action="addgenre" asp-antiforgery="true" 
                  asp-route-editableBookId="@ViewBag.EditedBookId">

                <div class="validation" asp-validation-summary="ModelOnly"></div>

                <div class="form-group mb-2">
                    <input type="text" asp-for="Name" class="form-control bg-white" placeholder="Название"/>
                    <span asp-validation-for="Name" class="field-validation-error"></span>
                </div>

                <div class="form-group mb-2">
                    <textarea type="text" asp-for="Description" class="form-control bg-white" rows="10"
                              placeholder="Краткое описание" style="resize: none;"></textarea>
                    <span asp-validation-for="Description" class="field-validation-error"></span>
                </div>

                <div class="form-group mb-0">
                    <input type="submit" value="Добавить жанр" class="btn btn-outline-success btn-sm btn-block" />
                </div>
            </form>
        </div>
    </div>
</div>