﻿@model BookLibrary.Models.View.Authentication.RegisterViewModel

<div class="add-window-field" id="addUserField">
    <div class="add-window" id="addUserWindow" style="background: #f6f6f6">
        <figure class="add-window-header flex-row">
            Зарегистрировать пользователя
            <div class="flex-fill d-flex flex-row-reverse">
                <button class="add-window-button" onmousedown="windowClose()">
                    <span class="fal fa-times"></span>
                </button>
            </div>
        </figure>

        <div class="p-2">
            <form asp-controller="account" asp-action="register" asp-antiforgery="true"
                  asp-route-editableBookId="@ViewBag.EditedBookId" asp-route-fromControlPanel="true">

                <div class="validation" asp-validation-summary="ModelOnly"></div>

                <div>
                    <label asp-for="Email" class="m-2 mt-0">Электронная почта</label><br />
                    <input type="text" asp-for="Email" class="form-control m-1" placeholder="Введите email" />
                    <span asp-validation-for="Email" />
                </div>

                <div>
                    <label asp-for="Name" class="m-2">Имя пользователя</label><br />
                    <input type="text" asp-for="Name" class="form-control m-1" placeholder="Введите имя пользователя" />
                    <span asp-validation-for="Name" />
                </div>

                <label asp-for="Password" class="m-2">Пароль</label><br />
                <div>
                    <input asp-for="Password" class="form-control m-1" placeholder="Введите пароль" />
                    <span asp-validation-for="Password" />
                </div>
                <div>
                    <input asp-for="ConfirmPassword" class="form-control m-1" placeholder="Повторите пароль" />
                    <span asp-validation-for="ConfirmPassword" />
                </div>

                <div class="form-group mb-0 mt-3">
                    <input type="submit" value="Зарегистрировать пользователя" class="btn btn-outline-success btn-sm btn-block" />
                </div>
            </form>
        </div>
    </div>
</div>