﻿@model BookLibrary.Models.Author

<div class="add-window-field" id="addAuthorField"> 
    <div class="add-window" id="addAuthorWindow" style="background: #f6f6f6">
        <figure class="add-window-header flex-row"> Добавить автора
            <div class="flex-fill d-flex flex-row-reverse">
                <button class="add-window-button" onmousedown="addAuthorWindow.Close()">
                    <span class="fal fa-times"></span>
                </button>
            </div>
        </figure>

        <div class="p-2">
            <form asp-controller="admin" asp-action="addauthor" asp-antiforgery="true" 
                  asp-route-editableBookId="@ViewBag.EditedBookId">

                <div class="validation" asp-validation-summary="ModelOnly"></div>

                <div class="form-group mb-2">
                    <input type="text" asp-for="FirstName" class="form-control bg-white" placeholder="Имя"/>
                    <span asp-validation-for="FirstName" class="field-validation-error"></span>
                </div>

                <div class="form-group mb-2">
                    <input type="text" asp-for="LastName" class="form-control bg-white" placeholder="Фамилия"/>
                    <span asp-validation-for="LastName" class="field-validation-error"></span>
                </div>

                <div class="form-group mb-2">
                    <textarea type="text" asp-for="Biography" class="form-control bg-white" rows="10"
                              placeholder="Краткая биография" style="resize: none;"></textarea>
                    <span asp-validation-for="Biography" class="field-validation-error"></span>
                </div>

                <div class="form-group mb-0">
                    <input type="submit" value="Добавить автора" class="btn btn-outline-success btn-sm btn-block" />
                </div>
            </form>
        </div>
    </div>
</div>