﻿@using System.Security.Claims;

<div style="left:0" class="position-absolute container-fluid bg-secondary d-flex justify-content-center">
    <div style="font-size:0.9em" class="container row d-flex justify-content-start">
        <div class="m-2">
            <a class="text-white" asp-area="" asp-controller="admin" asp-action="reservationpanel">Бронирование</a>
        </div>
        <div class="m-2">
            <a class="text-white" asp-area="" asp-controller="admin" asp-action="librarypanel">Библиотека</a>
        </div>
        <div class="m-2">
            @if (User.Claims.FirstOrDefault(x => x.Type == ClaimsIdentity.DefaultRoleClaimType).Value == "admin")
            {
                <a class="text-white" asp-area="" asp-controller="admin" asp-action="userslistpanel">Пользователи</a>
            }
        </div>
    </div>
</div>