﻿@model BookLibrary.Models.View.CreateBookViewModel
@using System.Text.Json

@{
    ViewBag.Tite = "Добавление книги";
    ViewBag.EditedBookId = Model.EditableBookId;
}

<link href="~/css/select-pure.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet" />

<main class="container">
    <form id="createBookForm" method="post" enctype="multipart/form-data" onsubmit="onSubmitCreateBookForm()"
          asp-controller="admin" asp-action="createbook" asp-antiforgery="true" asp-route-editableBookId="@Model.EditableBookId">

        <div class="form-group form-row m-1 mb-3">
            <div>
                <a asp-controller="admin" asp-action="librarypanel" type="button" class="btn btn-outline-secondary btn-sm">
                    <span class="far fa-arrow-left"></span> Панель админа
                </a>
            </div>
            <div class="flex-fill d-flex justify-content-end">
                @{ 
                    string actionName = Model.OnEdit == true ? "Изменить книгу" : "Добавить книгу";
                }
                <input type="submit" value="@actionName" class="btn btn-outline-success btn-sm" />
            </div>
        </div>

        <!--Название книги-->
        <div class="form-group">
            <label asp-for="Name" class="col-form-label">Название книги:</label>
            <input id="formBookName" type="text" asp-for="Name" class="form-control bg-white" />
            <span asp-validation-for="Name" class="field-validation-error"></span>
        </div>

        <!--Авторы и жанр-->
        <div class="d-flex flex-row">
            <div class="form-group mr-1 w-100">
                <label asp-for="Authors" class="col-form-label">Автор(ы) книги:</label>
                <div class="d-flex flex-row">
                    <span class="w-100 autocomplete-select-authors"></span>
                    <input id="authorsInput" type="hidden" asp-for="Authors">

                    <div class="input-group-append"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="Добавить автора"
                         onmousedown="addAuthorWindow.Open()">

                        <span class="input-group-text" style="font-size: 0.9em; border-radius: 0 4px 4px 0">
                            <span class="far fa-plus"></span>
                        </span>
                    </div>
                </div>
                <span asp-validation-for="Authors" class="field-validation-error"></span>
            </div>

            <div class="form-group w-100">
                <label asp-for="Genres" class="col-form-label">Жанр(ы) книги:</label>
                <div class="d-flex flex-row">
                    <span class="w-100 autocomplete-select-genres"></span>
                    <input id="genresInput" type="hidden" asp-for="Genres">

                    <div class="input-group-append"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="Добавить жанр"
                         onmousedown="addGenreWindow.Open()">

                        <span class="input-group-text" style="font-size: 0.9em; border-radius: 0 4px 4px 0">
                            <span class="far fa-plus"></span>
                        </span>
                    </div>
                </div>
                <span asp-validation-for="Genres" class="field-validation-error"></span>
            </div>
        </div>

        <!--Издатель и изображение книги-->
        <div class="d-flex flex-row">
            <div class="form-group w-100 mr-1">
                <label asp-for="Publishers" class="col-form-label">Издатель книги:</label>
                <div class="d-flex flex-row">
                    <span class="w-100 autocomplete-select-publishers"></span>
                    <input id="publishersInput" type="hidden" asp-for="Publishers">

                    <div class="input-group-append"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="Добавить издателя"
                         onmousedown="addPublisherWindow.Open()">

                        <span class="input-group-text" style="font-size: 0.9em; border-radius: 0 4px 4px 0">
                            <span class="far fa-plus"></span>
                        </span>
                    </div>
                </div>
                <span asp-validation-for="Publishers" class="field-validation-error"></span>
            </div>

            <div class="form-group w-100" style="font-size: 0.9em">
                <label asp-for="Image" class="col-form-label">Обложка книги:</label>
                <div class="custom-file mt-1">
                    <input asp-for="Image" class="form-control custom-file-input" id="customFile">
                    <label for="customFile" class="custom-file-label"
                           style="background-color: #f9f9f8">Выберите файл...</label>
                </div>
                <span asp-validation-for="Image" class="field-validation-error"></span>
            </div>
        </div>

        <!--Дата релиза, возр. ограничение, кол-во страниц-->
        <div class="d-flex flex-row" style="display: flex; flex-direction: column;">

            <div class="form-group w-100 mt-auto mr-1">
                <label asp-for="ReleaseDate" class="col-form-label">Дата релиза:</label>
                <div class="input-group date" data-provide="datepicker" data->
                    <input id="formReleaseDate" class="form-control bg-white" type="text" asp- asp-for="ReleaseDate">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">
                            <span class="fad fa-calendar-alt"></span>
                        </span>
                    </div>
                </div>
                <span asp-validation-for="ReleaseDate" class="field-validation-error"></span>
            </div>

            <div class="form-group w-100 mt-auto mr-1">
                <label asp-for="AgeRequirement" class="col-form-label">Возрастное ограничение:</label>
                <input id="formAgeRequirement" type="number" asp-for="AgeRequirement" class="form-control bg-white" />
                <span asp-validation-for="AgeRequirement" class="field-validation-error"></span>
            </div>

            <div class="form-group w-100 mt-auto">
                <label asp-for="Pages" class="col-form-label">Количество страниц:</label>
                <input id="formPages" type="number" asp-for="Pages" class="form-control bg-white" />
                <span asp-validation-for="Pages" class="field-validation-error"></span>
            </div>
        </div>

        <!--Описание книги-->
        <div class="form-group">
            <label asp-for="Description" class="col-form-label">Описание:</label>
            <textarea id="formDiscription" type="text" asp-for="Description" rows="10" class="form-control bg-white"></textarea>
            <span asp-validation-for="Description" class="field-validation-error"></span>
        </div>

        <!--Подробная информация-->
        <div class="form-group">
            <label asp-for="DetailedInfo" class="col-form-label">Подробная информация:</label>
            <textarea id="formDetailedInfo" type="text" asp-for="DetailedInfo" rows="10" class="form-control bg-white"></textarea>
            <span asp-validation-for="DetailedInfo" class="field-validation-error"></span>
        </div>
    </form>

    <!-- Добавление представлений окон добавления объектов. -->

    @await Html.PartialAsync("_AddAuthorPartial", Model.Author, ViewData)
    @await Html.PartialAsync("_AddGenrePartial", Model.Genre, ViewData)
    @await Html.PartialAsync("_AddPublisherPartial", Model.Publisher, ViewData)

 </main>

@section scripts{

<script src="~/lib/select-pure-master/dist/bundle.min.js"></script>

<script type="text/javascript">

    /* Настройка классов валидации Bootstrap */

    var settings = {
        validClass: "is-valid",
        errorClass: "is-invalid"
    };

    $.validator.setDefaults(settings);
    $.validator.unobtrusive.options = settings;

    /* Добавление функционала перетаскивания
        * окнам добавления объектов. */

    $(function () {

        var ws = [
            "#addAuthorWindow",
            "#addGenreWindow",
            "#addPublisherWindow"
        ]

        for (var i = 0; i < ws.length; i++) {
            $(ws[i]).draggable({
                handle: "figure",
                scroll: false,
                containment: "window"
            });
        }
    });

    /* Date picker */

    $("#sandbox-container input").datepicker({
        viewMode: "years",
        orientation: "bottom auto"
    });

    /* Подстановка названия выбранного файла в строке Browse */
    $(document).ready(function () {
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    });

    /* Создание форм select-pure для авторов, жанров, издателей. */
    function CreateSelectPure(jsonData, typeString) {

        /* Добавление опции из сериализованных коллекций */

        var options = [];

        for (var i = 0; i < jsonData.length; i++) {

            if (typeString === "authors") {
                options[i] = {
                    label: jsonData[i].FullName,
                    value: jsonData[i].Id.toString(),
                };
            } else if (typeString === "genres" || typeString === "publishers") {
                options[i] = {
                    label: jsonData[i].Name,
                    value: jsonData[i].Id.toString(),
                };
            }
        }

        /* Создание объекта slect-pure */
        var selectPure = new SelectPure(".autocomplete-select-" + typeString, {
            options: options,
            multiple: true,
            autocomplete: true,
            icon: "fal fa-times",
            onChange: value => { console.log(value); },
            value: JSON.parse(sessionStorage.getItem("createBook_form-selected-" + typeString)),
            classNames: {
                select: "select-pure__select",
                dropdownShown: "select-pure__select--opened",
                multiselect: "select-pure__select--multiple",
                label: "select-pure__label",
                placeholder: "select-pure__placeholder",
                dropdown: "select-pure__options",
                option: "select-pure__option",
                autocompleteInput: "select-pure__autocomplete",
                selectedLabel: "select-pure__selected-label",
                selectedOption: "select-pure__option--selected",
                placeholderHidden: "select-pure__placeholder--hidden",
                optionHidden: "select-pure__option--hidden",
            }
        });

        return selectPure
    }

    if ('@Model.OnEdit' === '@true') {
        if (performance.navigation.type !== 1 && '@ViewBag.SaveForm' !== '@true') {
            sessionStorage.setItem("createBook_form-selected-authors", @Html.Raw(JsonSerializer.Serialize(Model.Authors)));
            sessionStorage.setItem("createBook_form-selected-genres", @Html.Raw(JsonSerializer.Serialize(Model.Genres)));
            sessionStorage.setItem("createBook_form-selected-publishers", @Html.Raw(JsonSerializer.Serialize(Model.Publishers)));
        }8
    }
    
    /* Передать опции для select-pure в соответствии
        * с данными из БД и вернуть объекты select-pure. */

    var selectionArray = {
        authors: CreateSelectPure(@Html.Raw(JsonSerializer.Serialize(Model.BookListsViewModel.Authors)), "authors"),
        genres: CreateSelectPure(@Html.Raw(JsonSerializer.Serialize(Model.BookListsViewModel.Genres)), "genres"),
        publishers: CreateSelectPure(@Html.Raw(JsonSerializer.Serialize(Model.BookListsViewModel.Publishers)), "publishers")
    }

    var isOnSubmitForm = false

    function onSubmitCreateBookForm() {

        /* Сохранить значения форм select-pure в значения скрых узлов
            * для передачи выбранных объектов в модель страницы. */

        document.getElementById("authorsInput").value = JSON.stringify(selectionArray.authors.value());
        document.getElementById("genresInput").value = JSON.stringify(selectionArray.genres.value());
        document.getElementById("publishersInput").value = JSON.stringify(selectionArray.publishers.value());

        /* Указать событию onbeforeunload,
            * что произошла отправка формы*/

        isOnSubmitForm = true;
    }

    /* Сохранение полей при перезагрузке */
    window.onbeforeunload = function () {

        /* Если это не подтверждение формы, сохранить значения полей
            * либо если это подтверждение главной формы, очистить поля,
            * что бы при последующей после подтверждения перезагрузке
            * значения не записались в сессионное хранилище.
            * (после подтверждения значения полей должны стираться) */

        if (!isOnSubmitForm) {
            sessionStorage.setItem("createBook_formBookName", $("#formBookName").val());
            sessionStorage.setItem("createBook_formDiscription", $("#formDiscription").val());
            sessionStorage.setItem("createBook_formDetailedInfo", $("#formDetailedInfo").val());

            sessionStorage.setItem("createBook_formReleaseDate", $("#formReleaseDate").val());
            sessionStorage.setItem("createBook_formAgeRequirement", $("#formAgeRequirement").val());
            sessionStorage.setItem("createBook_formPages", $("#formPages").val());

            sessionStorage.setItem("createBook_form-selected-authors", JSON.stringify(selectionArray.authors.value()));
            sessionStorage.setItem("createBook_form-selected-genres", JSON.stringify(selectionArray.genres.value()));
            sessionStorage.setItem("createBook_form-selected-publishers", JSON.stringify(selectionArray.publishers.value()));
        } else {

            /* Очистить локальные данные полей createBook_ во время подверждения
                * формы (после подтверждения значения полей должны стираться)*/

            document.getElementById("createBookForm").reset();

            var arr = [];

            for (var i = 0; i < sessionStorage.length; i++) {

                if (sessionStorage.key(i).substring(0, 11) == 'createBook_') {
                    arr.push(sessionStorage.key(i));
                }
            }

            for (var i = 0; i < arr.length; i++) {
                sessionStorage.removeItem(arr[i]);
            }
        }
    }

    window.onload= function () {

        /* Загрузить значения из сессионного хранилища
            и вставить в формы после загрузки страницы */

        if (performance.navigation.type !== 1 && '@ViewBag.SaveForm' !== '@true') return;

        var name = sessionStorage.getItem("createBook_formBookName");
        if (name !== null) $('#formBookName').val(name);

        var discr = sessionStorage.getItem("createBook_formDiscription");
        if (discr !== null) $('#formDiscription').val(discr);

        var info = sessionStorage.getItem("createBook_formDetailedInfo");
        if (info !== null) $('#formDetailedInfo').val(info);

        var date = sessionStorage.getItem("createBook_formReleaseDate");
        if (info !== null) $('#formReleaseDate').val(date);

        var age = sessionStorage.getItem("createBook_formAgeRequirement");
        if (info !== null) $('#formAgeRequirement').val(age);

        var pages = sessionStorage.getItem("createBook_formPages");
        if (info !== null) $('#formPages').val(pages);
    }

    /* Функция открытия окон: открытие, анимации */
    var openWindowFunction = function () {
        var field = this.element
        field.style.display = "flex";
        field.style.background = "rgba(0, 0, 0, 0.0)";

        var children = field.children[0];

        children.style.top = "auto";
        children.style.left = "auto";

        var anim = field.animate(
            [
                { background: "rgba(0, 0, 0, 0)" },
                { background: "rgba(0, 0, 0, 0.50)" }
            ],
            {
                fill: "forwards",
                easing: "steps(50, end)",
                duration: 300
            });

        anim.play();
    };

    /* Функция закрытия окон */
    var closeWindowFunction = function () {
        this.element.style.display = "none";
    }

    /* Окно добавления автора */
    var addAuthorWindow = {
        element: document.getElementById("addAuthorField"),
        Open: openWindowFunction,
        Close: closeWindowFunction
    };

    /* Окно добавления жанра */
    var addGenreWindow = {
        element: document.getElementById("addGenreField"),
        Open: openWindowFunction,
        Close: closeWindowFunction
    };

    /* Окно издатель автора */
    var addPublisherWindow = {
        element: document.getElementById("addPublisherField"),
        Open: openWindowFunction,
        Close: closeWindowFunction
    };

</script>
}

