﻿@model BookLibrary.Models.ListViewModel

@{
    ViewBag.Tite = "Панель администратора";
}

@await Html.PartialAsync("_AdminPanelHeader")

<div class="container">
    <div class="content-block mt-5 shadow-sm">

        <div class="d-flex mb-2">

            <form id="searchForm">
                <div class="input-group p-2">
                    <input class="form-control search-input" placeholder="Найти"
                           name="searchString" />

                    <button type="submit"
                            class="input-group-prepend btn search-btn bg-secondary">
                        <i class="fal fa-search align-self-center"></i>
                    </button>
                </div>
            </form>

            <a type="button" asp-controller="admin" asp-action="createbook" onclick="clearSessionStorage()"
               class="d-flex btn btn-outline-success pl-2 pr-2 m-2 ml-auto"
               title="Добавить книгу">
                <i class="fal fa-book align-self-center m-0"></i>
            </a>
        </div>

        <div class="p-2 table-responsive" style="font-size: 0.9em;">
            <table class="table table-sm" style="font-size: 0.9em; border-collapse: collapse; ">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название</th>
                        <th scope="col">Авторы</th>
                        <th scope="col">Жанры</th>
                        <th scope="col">Издатели</th>
                        <th class="pl-3" scope="col">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Model.Books)
                    {
                        <tr>
                            <th scope="row">@book.Id</th>
                            <td title="@book.Name" class="d-flex text-overflowed">@book.Name</td>
                            <td class="text-overflowed">
                                <collection-enum set-type-name="false" book="book"
                                                 list-type="@typeof(Author)" max-output="10">
                                </collection-enum>
                            </td>
                            <td class="text-overflowed">
                                <collection-enum set-type-name="false" book="book"
                                                 list-type="@typeof(Genre)" max-output="10">
                                </collection-enum>
                            </td>
                            <td class="text-overflowed">
                                <collection-enum set-type-name="false" book="book"
                                                 list-type="@typeof(Publisher)" max-output="10">
                                </collection-enum>
                            </td>
                            <td>
                                <div class="row flex-nowrap pl-3">
                                    <a asp-controller="admin" asp-action="createbook" asp-route-editableBookId="@book.Id" title="Изменить"
                                       type="button" class="btn btn-outline-secondary btn-sm pl-2 pr-2 mr-1">
                                        <span class="fal fa-pen"></span>
                                    </a>
                                    <a asp-controller="library" asp-action="bookpage" asp-route-bookid="@book.Id" title="Информация"
                                       type="button" class="btn btn-outline-info btn-sm pl-2 pr-2 mr-1">
                                        <span class="fal fa-info pl-1 pr-1"></span>
                                    </a>

                                    <form id="delete-form-@book.Id" class="flex-row" asp-controller="admin" asp-action="deletebook" asp-route-id="@book.Id">
                                        <button type="button" onclick="deleteUserConfirm(['@book.Id', '@book.Name'])"
                                                title="Удалить" class="btn btn-outline-danger btn-sm pl-2 pr-2 mr-1">
                                            <span class="fal fa-trash"></span>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="restrict-selection justify-content-center d-flex pt-2 pb-2">
            <page-link page-model="Model.PageViewModel"
                       view-model="Model"
                       page-action="librarypanel">
            </page-link>
        </div>
    </div>
</div>

@section scripts{
    <script>

        function clearSessionStorage() {

            var arr = [];

            for (var i = 0; i < sessionStorage.length; i++) {

                if (sessionStorage.key(i).substring(0, 11) == 'createBook_') {
                    arr.push(sessionStorage.key(i));
                }
            }

            for (var i = 0; i < arr.length; i++) {
                sessionStorage.removeItem(arr[i]);
            }
        }

        /* Подтверждение удаления */
        function deleteUserConfirm(arguments) {

            var id = arguments[0];
            var name = arguments[1];

            $.confirm({
                title: 'Удаление книги "' + name + '" [' + id + ']',
                content: 'Вы действительно хотите удалить книгу?',
                buttons: {
                    somethingElse: {
                        text: 'Отмена'
                    },
                    confirm: {
                        text: 'Удалить',
                        btnClass: 'btn-red',
                        action: function () {
                            $('#delete-form-' + id).submit();
                        },
                    }
                }
            });
        }
    </script>
}