﻿@model BookLibrary.Models.UsersListViewModel

@{
    ViewBag.Tite = "Панель администратора";
}

@await Html.PartialAsync("_AdminPanelHeader")

<div class="container">
    <div class="content-block mt-5 shadow-sm">
        <div class="d-flex mb-2">

            <form id="searchForm">
                <div class="input-group p-2">
                    <input class="form-control search-input" placeholder="Найти"
                           name="searchString" />

                    <button type="submit"
                            class="input-group-prepend btn search-btn bg-secondary">
                        <i class="fal fa-search align-self-center"></i>
                    </button>
                </div>
            </form>

            <button class="ml-auto d-flex btn btn-outline-success pl-2 pr-1 m-2"
                    title="Добавить пользователя" onclick="windowOpen()">
                <i class="fal fa-user-plus align-self-center m-0"></i>
            </button>
        </div>

        <div class="p-2 table-responsive" style="font-size: 0.9em;">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Имя</th>
                        <th>Почта</th>
                        <th>Пароль</th>
                        <th>Роль</th>
                        <th>Отзывы</th>
                        <th>Действия</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var u in Model.Users)
                    {
                        <tr>
                            <td>@u.Id</td>
                            <td>
                                <input asp-for="EditUserViewModel.Nick" type="text" value="@u.Name"
                                       form="edituser_@u.Id" id="n_input_@u.Id" disabled class="form-control form-control-sm" style="min-width: 16em" />
                            </td>
                            <td>
                                <input asp-for="EditUserViewModel.Email" type="email" value="@u.Email"
                                       form="edituser_@u.Id" id="e_input_@u.Id" disabled class="form-control form-control-sm" style="min-width: 16em" />
                            </td>
                            <td class="input-group flex-nowrap">
                                <input asp-for="EditUserViewModel.Password" value="@u.Password" type="password"
                                       form="edituser_@u.Id" id="p_input_@u.Id" disabled class="form-control form-control-sm" style="min-width: 8em" />
                                <button onmousedown="showPassword(@u.Id)" id="e_input_@u.Id" disabled
                                        class="input-group-prepend btn search-btn btn-outline-secondary bg-light pr-2 pl-2">
                                    <i class="fal fa-eye align-self-center m-0 text-secondary"></i>
                                </button>
                            </td>
                            <td>
                                <select asp-for="EditUserViewModel.RoleName"
                                        form="edituser_@u.Id" id="r_input_@u.Id" disabled class="custom-select custom-select-sm">
                                    <option selected>@u.Role.Name</option>
                                    @foreach (var r in Model.Roles)
                                    {
                                        <option value="@r.Name">@r.Name</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <a asp-controller="account" asp-action="userreviews" asp-route-user="@u.Name"
                                   class="pr-3 text-nowrap">
                                    открыть [ @u.Reviews.Count ]
                                </a>
                            </td>
                            <td>
                                <div class="row flex-nowrap">
                                    <button id="submit_@u.Id" class="d-flex btn btn-outline-secondary pl-2 pr-2 mr-1"
                                            onclick="editUser(@u.Id)" title="Редактировать пользователя">
                                        <i class="fal fa-pen align-self-center m-0"></i>
                                    </button>

                                    <a asp-controller="account" asp-action="accountpage" asp-route-user="@u.Name" title="Страница пользователя"
                                       type="button" class="d-flex btn btn-outline-info pl-2 pr-2 mr-1">
                                        <i class="fal fa-info align-self-center m-0 mr-1 ml-1"></i>
                                    </a>

                                    <form id="delete-form-@u.Id" asp-controller="admin" asp-action="deleteuser" asp-route-id="@u.Id">
                                        <button class="d-flex btn btn-outline-danger pl-2 pr-1"
                                                type="button" title="Удалить ползователя" onclick="deleteUserConfirm(['@u.Id', '@u.Name'])">
                                            <i class="fal fa-user-times align-self-center m-0"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            @foreach (var u in Model.Users)
            {
                <form asp-controller="admin"
                      asp-action="edituser"
                      asp-route-userId="@u.Id"
                      asp-antiforgery="true"
                      id="edituser_@u.Id">
                </form>
            }

            @if (Model.PageViewModel.TotalPages <= 0)
            {
                <span class="d-flex justify-content-center messeage-large ">
                    Ничего не найдено
                </span>
            }
        </div>

        <div class="restrict-selection justify-content-center d-flex pt-2 pb-2">
            <page-link page-model="Model.PageViewModel"
                       view-model="Model"
                       page-action="userslistpanel">
            </page-link>
        </div>
    </div>
</div>

@await Html.PartialAsync("_AddUserPartial", Model.RegisterViewModel, ViewData)

@section scripts {
    <script>

        /* Устанавливааем ко всем кнопкам статус "ещё не нажата" */
        var submitHasClicked = {};

        $('*[id*=submit_]').each(function () {
            submitHasClicked[$(this).attr('id')] = false;
        })

        /* Вызывается по нажатию на кнопку редактирования */
        function editUser(id) {

            /* Убеждаемся, что все остальные поля неактивны... */
            $('*[id*=input_]').each(function () {
                $(this).prop('disabled', true);
            });

            /* Делаем нужные поля активными для изменений */
            $('*[id$=input_' + id).each(function () {
                $(this).prop('disabled', false);
            });

            /* Убеждаеммся, что все остальные кнопки - это кнопки редактирования*/
            $('*[id^=submit_].btn-outline-success').each(function () {
                $(this).removeClass('btn-outline-success')
                $(this).children().removeClass('fa-save')
                $(this).prop('disabled', false);
            })

            /* Делаем активную кнопку кнопкой формы, и меняем её стиль */
            $('#submit_' + id).addClass('btn-outline-success')
            $('#submit_' + id).children().addClass('fa-save')
            $('#submit_' + id).attr('form', 'edituser_' + id);

            /* Подавляем первое нажатие кнопки формы */
            $('#edituser_' + id).submit(function (e) {

                /* Если ещё не была нажата, то подавляем подтверждение формы... */
                if (!submitHasClicked[$('#submit_' + id).attr('id')]) {

                    /* Подавляем отправку формы */
                    e.preventDefault();

                    /* ... Убеждаемся, что остальные кнопки не имеют статуса "нажата" */
                    $('*[id^=submit_]').each(function () {
                        submitHasClicked[$(this).attr('id')] = false;
                    })

                    /* Устанавливаем нужной кнопке статус "была нажата для редактирования" */
                    submitHasClicked[$('#submit_' + id).attr('id')] = true;
                }
            });
        };

        /* Отображение пароля по нажатию */
        function showPassword(id) {
            $('#p_input_' + id).attr('type', 'text');
        };

        document.onmouseup = function () {
            $('*[id*=p_input_').each(function () {
                $(this).attr('type', 'password');
            });
        };

        /* Окно добавления пользователя */

        /* Добавление функционала перетаскивания
            * окнам добавления объектов. */

        $("#addUserWindow").draggable({
            handle: "figure",
            scroll: false,
            containment: "window"
        });

        /* Функция открытия окна: открытие, анимации */
        function windowOpen() {
            var field = document.getElementById("addUserField")
            field.style.display = "flex";
            field.style.background = "rgba(0, 0, 0, 0.0)";

            var children = field.children[0];

            children.style.top = "auto";
            children.style.left = "auto";

            var anim = field.animate(
                [
                    { background: "rgba(0, 0, 0, 0)" },
                    { background: "rgba(0, 0, 0, 0.50)" }
                ],
                {
                    fill: "forwards",
                    easing: "steps(50, end)",
                    duration: 300
                });

            anim.play();
        };

        /* Функция закрытия окна */
        function windowClose() {
            document.getElementById("addUserField").style.display = "none";
        }

         /* Подтверждение удаления */
        function deleteUserConfirm(arguments) {

            var id = arguments[0];
            var name = arguments[1];

            $.confirm({
                title: 'Удаление пользователя ' + name + " [" + id + "]",
                content: 'Вы действительно хотите удалить пользователя ' + name + '?',
                buttons: {
                    somethingElse: {
                        text: 'Отмена'
                    },
                    confirm: {
                        text: 'Удалить',
                        btnClass: 'btn-red',
                        action: function () {
                            $("#delete-form-" + id).submit();
                        },
                    }
                }
            });
        }

    </script>
}